
body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

button {
    background: #6366f1;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 300px;
}
